* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  /* width: 100%; */
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to top bottom, red, green);
}
.container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  /* border: 1px solid black;
  height: 500px;
  width: 500px;
  margin: 30px; */
}
#ball {
  background-color: red;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  position: relative;
  top: 50;
  left: 50;
  transform: translate(-50%, -50%);
}
#actionBtn {
  position: absolute;
  /* left: 50%;
  right: 50%;
  top: 93%;
  width: 10rem; */
  font-size: 2rem;
  padding: 10px;
}
.btn {
  height: 83%;
  background-color: #ff000000;
  box-sizing: border-box;
  text-align: center;
  align-content: end;
}
@media (max-width: 480px) {
  .ball {
    width: 40px;
    height: 40px;
  }
}
